.App {
	text-align: center;
}
.ex {
	text-align: left;
	border: 2px solid black;
	margin: 10px 15px;
	padding: 5px;
	padding-left: 10px;
	padding-bottom: 30px;
}
.ex h2 {
	margin: 5px auto 5px 3px;
}

.box {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	padding: 10px;
	margin: 5px;
	color: gray;
	background-color: rgb(245, 245, 245);
	cursor: crosshair;
	text-align: center;
}

.box p {
	margin-top: 5px;
}
button {
	margin: 5px;
	background-color: black;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	padding: 3px 7px;
	transition: 0.5s;
}
button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
input {
	font-size: 15px;
	padding: 3px 5px;
}
